{% extends 'shift_maker/base.html' %}
{% block body-contents %}
<form action="{% url 'shift_maker:answer' shift.id %}" method="post">
{% csrf_token %}
<fieldset>
    <table class="table">
        <tr>
            <th>時間</th>
            {% for day in days_list %}
                <th>{{day|date:"n月j日"}}</th>
            {% endfor %}
        </tr>
        {% for start_time, end_time, time_slot_list in sametime_slot_list %}
        <tr>
            <td>{{ start_time|date:"G時i分" }}～{{ end_time|date:"G時i分" }}</td>
            {% for slots in time_slot_list %}
            {% if not slots %}
            <td>なし</td>
            {% else %}
            {% for slot in slots %}
                <td> <input type="checkbox" name="slot" id="slot{{ slot.id }}" value="{{ slot.id }}">
                    <label for="slot{{ slot.id }}" >{{ slot.workname }}</label><br></td>
            {% endfor %}
            {% endif %}

            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</fieldset>
<input type="submit" value="回答">
</form>
{% endblock %}